@import url("variable/color");
.navbar {
  width: 100%;
  height: 80px;
  color: #f7f7f7;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav_logo {
  text-decoration: none; 
  color: #fb4b4e;
  font-size: 28px;
  font-weight: bold;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #222121;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu--links {
  text-decoration: none;
  padding: 0 17px;
  color: #222121;
  font-size: 19px;
  font-weight: 400;
  transition: all 0.5s;
}
.navbar__menu--links:hover {
  color: #fb4b4e;
}
.navbar #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fb4b4e;
  margin-left: 16px;
  color: #222121;
}
.navbar #button:hover {
  background: #f47e49;
  color: #f7f7f7;
  transition: all 0.3s ease;
}
.navbar .show_nav {
  display: inline-grid;
  float: right;
  margin-top: 293px;
  margin-right: -32px;
  padding: 15px;
  background: #eee;
}
.navbar .show_nav_a {
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.container {
  padding: 0 60px;
}

.home {
  background-color: #f7f7f7;
  overflow: hidden;
}
.home_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 10px;
}
@media screen and (max-width: 768px) {
  .home_container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.home__left {
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .home__left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 280px) {
  .home__left {
    line-height: 1.5;
  }
}
.home__left h1 {
  font-size: 4rem;
  color: #fb4b4e;
}
@media screen and (max-width: 280px) {
  .home__left h1 {
    font-size: 1.5rem;
  }
}
.home__left h2 {
  font-size: 4rem;
  color: #222121;
}
@media screen and (max-width: 280px) {
  .home__left h2 {
    font-size: 1.5rem;
  }
}
.home__left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
}
@media screen and (max-width: 280px) {
  .home__left p {
    font-size: 1.5rem;
  }
}
.home__container--btn {
  position: relative;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  border: none;
  margin-top: 35px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.home__container--btn::before {
  content: "Sign up";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(135deg, #fb4b4e, #f47e49);
  transform: translate(0%, 90%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.home__container--btn::after {
  content: "Hover me";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%, -130%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.home__container--btn:hover::before {
  transform: translate(0%, 0%);
}
.home__container--btn:hover::after {
  transform: translate(0%, -200%);
}
.home__container--btn:focus {
  outline: none;
}
.home__container--btn:active {
  scale: 0.95;
}
.home__right .right__image {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}/*# sourceMappingURL=layout.css.map */